* {
    box-sizing: border-box;
  }

  @font-face {
    font-family:Inkn;
    src: url(InknutAntiqua-Regular.ttf);
  }
  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: -7vw;
  }
  .item { 
    padding: 5vw;
    width: 420px;
  }
/* .item */


a{
  font-family:Inkn;
  font-size: 2vw;
  text-transform: capitalize;
  color: #FFFFFF;
  text-decoration: none;

  }

  .container0{
    position: absolute;
    left: auto;
    z-index: -1;
    object-fit: contain;
  }
  .container0 img {
    height: 100vh;
    /* overscroll-x: hidden; */
  }
  
.container1{
  display: flex;
  flex-wrap: wrap;
  margin-left: 30%;

}


.container{
  position: absolute;
  bottom: 0;
  left: auto;
}

