* {
    box-sizing: border-box;
  }
  body {
    overflow-x: hidden;
  }
 
  @font-face {
    font-family:bod;
    src: url(CormorantGaramond-BoldItalic.ttf);
  }

  @font-face {
    font-family:Bic;
    src: url(BigCaslon-Medium.woff2);
  }

  @font-face {
    font-family:COR;
    src: url(CormorantGaramond-Medium.ttf);
  }


  html {
    background-color:#E4E1D8;
    ; 
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vw;
    width:100vw;
    opacity: 0.9;
    perspective: 1000px;
    position:absolute;
    left: 120vw;
    top: 105vw;
    transform: translate(-50%,-50%);
  }

  .photo1{
    max-width: 50%;
    max-height: 1%; 
    object-fit: contain; 
    mix-blend-mode: multiply;
    display: block;
    margin: 0 auto;
    text-align: center;

    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));

 }
 .photo2{
  max-width: 10%;
  max-height: 10%; 
  object-fit: contain; 
  mix-blend-mode: multiply;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.25));
  transform: rotate(2.34deg);
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0.9;
  perspective: 1000px;
}
  h1{
    font-family:bod;
    text-align: center;
    font-weight: 500;
    font-size: 2vw;
    line-height: 160%;
  }

  h2{
    font-family:Bic;
    font-weight: 500;
    font-size: 2vw;
    line-height: 160%;
    text-align: center;
  }

  h3{
    font-family:Bic;
    font-weight: 500;
    font-size: 2vw;
    line-height: 160%;
    text-align: center;
  }

  .container0 {
    position:absolute;
    left: 75vw;
    top: 95vw;
    transform: translate(-50%,-50%);
  }

h4{
    font-family:COR;
    font-weight: 500;
    font-size: 2vw;
    line-height: 160%;
    text-align: center;
    
}