* {
    box-sizing: border-box;
  }

  @font-face {
    font-family:Prompt;
    src: url(Prompt-Italic.ttf);
  }

  @font-face {
    font-family:home;
    src: url(HomemadeApple-Regular.ttf);
  }
  @font-face {
    font-family:light;
    src: url(Inter-Light.ttf);
  }
  

  body {
    display: center;
    font-family: 'Prompt';
    background: #000000;
    font-size: 20px;
    line-height: 27px;
  }
  
 p{
    animation-duration: 10s;
    animation-name: slidein;
    animation-iteration-count: 1;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 100%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .homeguide {
    overflow: hidden;
    padding: 16px;
    text-align:left;
    font-family:light;
    font-style: italic;
  }
  
  .homeguide a {
    color: #f2f2f2;
    padding: 15px 15px;
    text-decoration: none;
  }

  .homeguide a:hover {
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    }

.wrapper {
    max-width:700px;
    padding:70px;
    margin:0 auto;
    background:#f2f2f2;
    box-shadow: 36px 36px 4px rgba(255, 255, 255, 0.29);
}

.img{
  background-color: #f2f2f2;
  position: absolute;
  float:none;
  animation-duration: 5s;
  animation-name: picslide;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes picslide {
  from {
    margin-left: 0%;
    width: 50%;
  }

  to {
    margin-left: 100%;
    width: 0%;
  }
}
