* {
    box-sizing: border-box;
  }

  @font-face {
    font-family:Prompt;
    src: url(Prompt-Italic.ttf);
  }

  body {
    display: center;
    font-family: 'Prompt';
    background: #000000;
    font-size: 20px;
    line-height: 27px;
  }
  
.wrapper {
    max-width:700px;
    padding:70px;
    margin:0 auto;
    background: #FFFFFF;
    box-shadow: 36px 36px 4px rgba(255, 255, 255, 0.29);
}