* {
    box-sizing: border-box;
  }

  @font-face {
    font-family:ENG1;
    src: url(BigCaslon-Medium.woff);
  }

  html {
    background-color:#F5F4F2;
    ; 
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    perspective: 1000px
  }

  img {
    max-width: 100%;
    max-height: 100%; 
    object-fit: contain; 

  }

  #collection {
    display:flex;
    flex-wrap:wrap;
    flex: 1 0 21%; /* explanation below */
  }

  img {
    max-width:300px;
    width:100%;
  }

  p {
    margin-top:0;
    text-align:center;
  }

a {
  color:#1C171A;
  text-decoration:none;
}

  .item {
    margin-right:10px;
    margin-left:20px ;
  }