* {
    box-sizing: border-box;
  }

  @font-face {
    font-family:Prompt;
    src: url(Prompt-Italic.ttf);
  }


  @font-face {
    font-family:Inkn;
    src: url(InknutAntiqua-Regular.ttf);
  }

  @font-face {
    font-family:light;
    src: url(Inter-Light.ttf);
  }
  


  body {
    display: center;
    font-family: 'Prompt';
    background: #000000;
    font-size: 20px;
    line-height: 27px;
  }
  h1{
    font-family: 'Inkn';
  }
  h3{
    font-family: 'Inkn';
    text-align:right;
  }

  .center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    display: block;
    animation: rotate 10s linear infinite;
  }
  
  @keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
  }

  .homeguide {
    overflow: hidden;
    padding: 16px;
    text-align:center;
    font-family:light;
    font-style: italic;
  }
  
  .homeguide a {
    color: #f2f2f2;
    padding: 15px 15px;
    text-decoration: none;
  }

  .homeguide a:hover {
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    }

.wrapper {
    max-width:700px;
    padding:70px;
    margin:0 auto;
    background: #ffffff;
    background-size:1em 100%;;
    box-shadow: 36px 36px 4px rgba(255, 255, 255, 0.29);
}
 .Rectangle7{
    position: absolute;
    width: 793px;
    height: 22px;
    background: #000000;
 }

