html {
    font-size: 22px;
    background-color:black;
  }

  @font-face {
    font-family:cinze;
    src: url(CinzelDecorative-Regular.ttf);
  }

  @font-face {
    font-family:ply;
    src: url( PlayfairDisplay-VariableFont_wght.ttf);
  }

  #background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .image {
    position: relative;
    display: center;
    width: 50vw;
    height: 35vw;
    background-color: #cccccc8e;
  }
 
  h1{
    color:aliceblue;
  }
  h2{
    color: black;
  }
  body {
    display: center;
    width: 70vw;
    margin-left: auto;
    font-family:cinze;
  }

  a {
    color:aliceblue;
    text-decoration:none;
    font-family:ply;
  }

  #mainpage {
    display: center;
    position: relative;
    width: 50vw;
    background-color:#cccccc8e;
  }

