* {
    box-sizing: border-box;
  }

  @font-face {
    font-family:Handwrite;
    src: url(LiuJianMaoCao-Regular.ttf);
  }

  @font-face {
    font-family:ENG1;
    src: url(LibreBaskerville-Regular.ttf);
  }



  html {
    background-color:rgba(127, 38, 56, 1);
    ; 
  }
  .image-container {
    position: absolute;
    left:40%;
    top: 12%;
    height: 45vw;
    width:45vw;
    mix-blend-mode: color-burn;
    opacity: 0.9;
    perspective: 1000px
  }

  .flipper {
    position: relative;
    transform-style: preserve-3d; 
    animation: flip 10s infinite; 
  }
  
  @keyframes flip {
    0% {
      transform: rotateY(0deg); 
    }
    50% {
      transform: rotateY(180deg); 
    }
    100% {
      transform: rotateY(0deg); 
    }
  }

  img {
    max-width: 90%;
    max-height: 90%; 
    object-fit: contain; 
  }
 
  .container0 {
    position:absolute;
    left: 90%;
    top: 170%;
    transform: translate(-50%,-50%);
  }
  .container2 {
    position:absolute;
    left: 82%;
    top: 215%;
    transform: translate(-50%,-50%);
  }
  .container1 {
    position:absolute;
    left: 15%;
    top: 215%;
    transform: translate(-50%,-50%);
  }

  h1{
    font-family:Handwrite;
    z-index: 1;
    font-weight: 400;
    font-size:15vw;
    color: #1C171A;
    position: relative;
    display: inline-block;
  }

  h2{
    font-weight: 500;
    font-size: 8vw;
    z-index: 0;
    color: #1C171A;
    text-align: left;
    position: relative;
    display: inline-block;
    font-family:ENG1;
  }

  h3{
    font-family:ENG1;
    font-weight: 500;
    font-size: 8vw;
    z-index: 0;
    color: #1C171A;
    text-align: right;
    position: relative;
    display: inline-block;

  }

