* {
    box-sizing: border-box;
  }

  @font-face {
    font-family:Handwrite;
    src: url(LiuJianMaoCao-Regular.ttf);
  }
  
  @font-face {
    font-family:ENG1;
    src: url(BigCaslon-Medium.woff2);
  }
  
  html {
    background-color:rgba(127, 38, 56, 1);
  }

  .container2 {
    position:absolute;
    left:85VW;
    top: 10VW;
    transform: translate(-50%,-50%);
  }
  .container1 {
    position:absolute;
    left: 15vw;
    top: 10vw;
    transform: translate(-50%,-50%);
  }
  h2{
    font-weight: 500;
    font-size: 8vw;
    z-index: 0;
    color: #1C171A;
    text-align: left;
    position: relative;
    display: inline-block;
    font-family:ENG1;
  }

  h3{
    font-family:ENG1;
    font-weight: 500;
    font-size: 8vw;
    z-index: 0;
    color: #1C171A;
    text-align: right;
    position: relative;
    display: inline-block;

  }

  a {
    color:#1C171A;
    text-decoration:none;
  }

  #collection {
    display:flex;
    flex-wrap:wrap;
    flex: 1 0 21%; 
  }
  

  p{
    font-family:Handwrite;
    font-size: 15vw;
    margin-top:20vw;
    max-width:20vw;
    width:300px;
    max-height: 0.01vw;
    margin-right:1vw;
    margin-left:4.5vw ;
  }

  h1{
    font-family:ENG1;
    font-size: 2vw;
    margin-top:20vw;
    max-width:20vw;
    width:300px;
    max-height: 0.01vw;
    margin-right:1vw;
    margin-left:-23vw ;
    margin-top: 38vw;
    text-align:center;
  }


